@model Survey


<form method="post" asp-action="Create">
    <input type="hidden" asp-for="ExperimentId" value=@(ViewContext.RouteData.Values["id"]) />
    <div class="border p-3">
        <div class="form-group row">
            <h2 class="text-black-50 pl-3">Add survey</h2>
        </div>

        <div class="row center">
            <div class="col-8">

                <div class="mb-3 row">
                    <label asp-for="SurveyDate"></label>
                    <div class="col-sm-10">
                        <input asp-for="SurveyDate" class=".form-control " />
                    </div>
                    <div class="mb-3 row">
                        <label asp-for="LoculusQuantity"></label>
                        <div class="col-sm-10">
                            <input asp-for="LoculusQuantity" class="form-control " />
                        </div>
                    </div>
                    @{int count = 0;
                        char[] alphabet = "ABCDEFGHIJKLMNOPQRSTUVWXYZ".ToCharArray();
                        for (int i = 0; i < ViewBag.CageNumber; i++)
                        {
                            

                            <div class="sb-3 row">
                                <label asp-for="@Model.Cages[i].CageQuantity">@alphabet[count] cage quantity</label>
                                <div class="col-sm-10">
                                    <input asp-for="@Model.Cages[i].CageQuantity" class="form-control " />
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label asp-for="@Model.Cages[i].GroupWeight">@alphabet[count] cage group weight</label>
                                <div class="col-sm-10">
                                    <input type="number" step="0.01" asp-for="@Model.Cages[i].GroupWeight" class="form-control " />
                                </div>
                            </div>
                            count++;
                        }
                    }
                    @if (ViewBag.IsFirstSurvay)
                    {
                        <div class="mb-3 row">
                            <label asp-for="DayOfLife"></label>
                            <div class="col-sm-10">
                                <!-- <input asp-for="DayOfLife" class="form-control" />-->
                                @{
                                    //string value = (Model.Cages[0].GroupWeight > 500 ? "tak" : "nie");
                                    //placeholder = @value
                                <input  asp-for="DayOfLife" />

                                }
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="mb-3 row">
                            <label asp-for="LoculusFeedInTake"></label>
                            <div class="col-sm-10">
                                <input asp-for="LoculusFeedInTake" class="form-control" />
                            </div>
                        </div>
                    }
                    <div class="form-group row">
                        <div class="col-12 offset-1 row">
                            <div class="col-4">
                                <input type="submit" class="btn btn-primary w-75" value="create" />
                            </div>
                            <div class="col-4">
                                <a asp-controller="Experiment" asp-action="Show" asp-route-Id=@(ViewContext.RouteData.Values["id"]) class="btn btn-danger w-75">Back</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

