@model Experiment

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Lista pomiarow @Model.Name</h2>
        </div>
        <div class="col-6">
            <a type="button" class="btn btn-primary" asp-controller="Survey" asp-route-Id="@Model.Id" asp-action="Create">Add survey</a>
        </div>
    </div>
    <br />

    @if (Model != null)
    {

        <div class="table-responsive-md">
            <table class="table ">
                <thead>
                    <tr>
                        <th>Data</th>
                        @foreach (var survey in Model.SurveysList)
                        {
                            <th>@survey.SurveyDate</th>
                        }
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Cage</td>
                        @foreach (var survey in Model.SurveysList)
                        {
                            <td>
                                <table class="table mb-0">
                                    <tr>
                                        <td>A </td>
                                        <td>B </td>
                                    </tr>
                                </table>
                            </td>
                        }
                    </tr>
                    <tr>
                        <td>Loculus quantity </td>
                        @foreach (var survey in Model.SurveysList)
                        {
                            <td>@survey.LoculusQuantity </td>
                        }
                    </tr>
                    <tr>
                        <td>Cage quantity </td>
                        @foreach (var survey in Model.SurveysList)
                        {
                            <td>
                                <table class="table mb-0">
                                    <tr>
                                        <td>@survey.A.CageQuantity </td>
                                        <td>@survey.B.CageQuantity </td>
                                    </tr>
                                </table>
                            </td>
                        }
                    </tr>
                    <tr>
                        <td>Group Weight </td>
                        @foreach (var survey in Model.SurveysList)
                        {
                            <td>
                                <table class="table mb-0">
                                    <tr>
                                        <td>@survey.A.GroupWeight </td>
                                        <td>@survey.B.GroupWeight </td>
                                    </tr>
                                </table>
                            </td>
                        }
                    </tr>
                    <tr>
                        <td>Days from first weight</td>
                        @foreach (var survey in Model.SurveysList)
                        {
                            <td>@survey.DaysFromFirstWeight </td>
                        }
                    </tr>
                    <tr>
                        <td>Day Of Life</td>
                        @foreach (var survey in Model.SurveysList)
                        {
                            <td>@survey.DayOfLife </td>
                        }
                    </tr>
                    <tr>
                        <td>Individual body weight </td>
                        @foreach (var survey in Model.SurveysList)
                        {
                            <td>
                                <table class="table mb-0">
                                    <tr>
                                        <td>@survey.A.IndividualBodyWeight </td>
                                        <td>@survey.B.IndividualBodyWeight </td>
                                    </tr>
                                </table>
                            </td>
                        }
                    </tr>
                    <tr>
                        <td>Average body weight</td>
                        @foreach (var survey in Model.SurveysList)
                        {
                            <td>@survey.AverageBodyWeight </td>
                        }
                    </tr>
                    <tr>
                        <td>Difference in body weight </td>
                        @foreach (var survey in Model.SurveysList)
                        {
                            <td>
                                <table class="table mb-0">
                                    <tr>
                                        <td>@survey.A.DifferenceInBodyWeight </td>
                                        <td>@survey.B.DifferenceInBodyWeight </td>
                                    </tr>
                                </table>
                            </td>
                        }
                    </tr>
                    <tr>
                        <td>Weight gain from start </td>
                        @foreach (var survey in Model.SurveysList)
                        {
                            
                                <td>
                                    <table class="table mb-0">
                                        <tr>
                                            <td>@survey.A.WeightGainFromStart </td>
                                            <td>@survey.B.WeightGainFromStart </td>
                                        </tr>
                                    </table>
                                </td>
                            
                        }
                    </tr>
                    <tr>
                        <td>Average weight gain</td>
                        @foreach (var survey in Model.SurveysList)
                        {
                            <td>@survey.AverageWeightGain </td>
                        }
                    </tr>
                    <tr>
                        <td>Weight gain from last survey</td>
                        @foreach (var survey in Model.SurveysList)
                        {
                            <td>
                                <table class="table mb-0">
                                    <tr>
                                        <td>@survey.A.WeightGainFromLastSurvey </td>
                                        <td>@survey.B.WeightGainFromLastSurvey </td>
                                    </tr>
                                </table>
                            </td>
                        }
                    </tr>
                    <tr>
                        <td>Average weight gain from start</td>
                        @foreach (var survey in Model.SurveysList)
                        {
                            <td>@survey.AverageWeightGainFromStart </td>
                        }
                    </tr>
                    <tr>
                        <td>Loculus feed intake</td>
                        @foreach (var survey in Model.SurveysList)
                        {
                            <td>@survey.LoculusFeedInTake </td>
                        }
                    </tr>
                    <tr>
                        <td>Feed Intake Weekly</td>
                        @foreach (var survey in Model.SurveysList)
                        {
                            <td>@survey.FeedIntakeWeekly </td>
                        }
                    </tr>
                    <tr>
                        <td>FeedIntakDaily</td>
                        @foreach (var survey in Model.SurveysList)
                        {
                            <td>@survey.FeedIntakDaily </td>
                        }
                    </tr>
                    <tr>
                        <td>Feed Conversion Ratio</td>
                        @foreach (var survey in Model.SurveysList)
                        {
                            <td>@survey.FeedConversionRatio </td>
                        }
                    </tr>
                    <tr>
                        <td></td>
                        @foreach (var survey in Model.SurveysList)
                        {
                            <td><a asp-controller="Survey" asp-action="Delete" asp-route-Id="@survey.SurveyId" class="btn btn-danger mx-1">Delete</a></td>
                        }

                    </tr>
                </tbody>
            </table>
        </div>


        <canvas class="my-4 h-25" id="myChart"> </canvas>

 
        <script>
            var chartdata = [];

         @foreach (var days in Model.SurveysList)
         {
              @: chartdata.push(@days.AverageBodyWeight);
        }
         

            var ctx = document.getElementById('myChart').getContext('2d');
            var myChart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
                    datasets: [{
                        label: '# of Votes',
                        data: chartdata,
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.2)',
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(255, 206, 86, 0.2)',
                            'rgba(75, 192, 192, 0.2)',
                            'rgba(153, 102, 255, 0.2)',
                            'rgba(255, 159, 64, 0.2)'
                        ],
                        borderColor: [
                            'rgba(255, 99, 132, 1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(75, 192, 192, 1)',
                            'rgba(153, 102, 255, 1)',
                            'rgba(255, 159, 64, 1)'
                        ],
                        borderWidth: 1
                    }]
                },
                options: {
                    responsive: true,
                    plugins: {
                        legend: {
                            position: 'top',
                        },
                        title: {
                            display: true,
                            text: 'Chart.js Line Chart'
                        }
                    },
                    scales: {
                        y: {
                            beginAtZero: true
                        }
                    }
                }
            });
        </script>
    }
    else
    { <p>Nie przeprowadzono jeszcze pomiarów </p>}
</div>

